.ImageCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
    width: 12rem;
    border: 3px solid #004F59;
    margin-top: 1rem;
}

.ImageCard img{
    height: 12rem;
    width: 12rem;
    padding: 0px 3px;
}

.ImageCard .name{
    background-color: #004149;
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.ImageCard .name p{
    margin: 0;
    font-size: 1.2rem;
}